{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <h2>Welcome to SymfTravel</h2>
    <p>This is the {{ controller_name }} speaking.</p>
    <p>You are on the homepage.</p>
{% endblock %}
